extends ../layout

append content

  h1 !{lingua.home.title}

  .body-header
    !{lingua.home.bodyheader}

  .body
    !{lingua.home.body}

  p 
    img( src="https://sandbox.koliseo.com/ehdez/codemotion-2013/qr?size=150")
    a(href="https://sandbox.koliseo.com/ehdez/codemotion-2013", target="_blank") !{lingua.home.buyNow}